<%- include("partial/header") %>
<h1>Compose</h1>
<form class="" action="/" method="post">
  <label for="">Title</label><br />
  <input type="text" name="PostTitle"class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value=""><br />
  <label for="">Post</label><br />
  <textarea name="postBody" rows="10" cols="150"></textarea><br />
  <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>

<%- include("partial/footer") %>
